.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

.newPost {
  z-index: 2;
  margin-bottom: 4rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

ul {
  list-style: none;
  padding: 0;
  z-index: 2;
}

a {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



form {
  display: flex;
  flex-direction: column;
  width: 360px;
}

input, textarea, button {
  padding: .7rem;
  margin: .3rem 0;
  border-radius: 3px;
  border: none;
}

textarea {
  height: 4rem;
}