
/* ****** */
/* Global */
/* ****** */

html { font-size: 10px }

body {
  background-color: #eee;
  color: #282c34;
  font-size: 2rem;
}

h1 { font-size: 6rem }
h2 { font-size: 5rem }
h3 { font-size: 4rem }
h4 { font-size: 3rem }
h5 { font-size: 2rem }
h6 { font-size: 1rem }



/* ****** */
/* Header */
/* ****** */

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6rem;
  margin-top: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header a:last-of-type {
  color: #61dafb;
  margin-top: -4px;
  padding: 2rem;
  text-decoration: none;
}



/* **** */
/* Main */
/* **** */

main {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}
  
ol { padding-left: 2.5rem }


main a { 
  color: #282c34; 
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}
main a:hover { color: #61dafb }


form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, textarea {
  padding: 1.8rem 1.4rem;
  margin: .6rem 0;
  border-radius: 3px;
  border: none;
  font-size: 1.3rem;
}

textarea {
  height: 16rem;
}

button {
  display: inline;
  max-width: 20%;
  margin: .6rem 0;
  padding: 1rem 3rem;
  background-color: #eee;
  border: 1px solid #282c34;
  border-radius: 3px;
  font-size: 1.4rem;
}
button:hover {
  background-color: #282c34;
  color: #eee;
}

label {
  display: block;
  margin: 10rem 0;
  user-select: none;
}
label input {
  margin-right: 1.2rem;
}