
html {
  font-size: 10px;
}

body {
  background-color: #eee;
  color: #282c34;
  font-size: 20px;
}

h1 { font-size: 6rem }
h2 { font-size: 5rem }
h3 { font-size: 4rem }
h4 { font-size: 3rem }
h5 { font-size: 2rem }
h6 { font-size: 1rem }

a {
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6rem;
  margin-top: 4px;
}

.newPostLink {
  color: #61dafb;
  padding: 2rem;
  text-decoration: none;
}



main {
  max-width: 700px;
  margin: 3rem auto
}


ul {
  list-style: none;
  padding: 0;
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input, textarea, button {
  padding: 1.8rem 1.4rem;
  margin: .6rem 0;
  border-radius: 3px;
  border: none;
  font-size: 1.3rem;
}

textarea {
  height: 16rem;
}

button {
  background-color: #eee;
  border: 1px solid #282c34;
  width: 30%;
}

button:hover {
  background-color: #282c34;
  color: #eee;
}




.section__editPost {
  margin-top: 16rem;
}

.section__editPost h4:first-child {
  margin-bottom: 1.2rem;
}